mixin header-center()
	.header-center
		.header-center__wrapper
			a(href="#" title="Акмолгаз").logo
			.phones
				.phones__title Телефоны:
				.phones__item 8-771-888-21-25
				.phones__item 8-707-740-97-77 

			+header-form()