.header-center {
	position: relative;

	width: 100%;
	min-height: 837px;
	margin-top: 64px;
	//background: url(%=staticPrefixForCss=%general/header-bg.jpg) no-repeat center center;

	background: url(%=staticPrefixForCss=%general/header-bg-2.jpg) no-repeat center center;
	background-size: auto 100%;
	&__wrapper {
		padding-top: 27px;

		@extend .wrapper;
		@include cf;
	}
}

.logo {
	display: block;
	float: left;

	@include bg($logo);
}

.phones {
	float: right;

	text-align: right;
	text-transform: uppercase;
	&__title {
		color: $yellow;

		font-size: em(16px);
		font-weight: 700;
	}
	&__item {
		color: #fff;

		font-size: em(18px);
		font-weight: 400;
		line-height: em(16px, 18px);
	}
}
