mixin advantages()
	section.advantages#advantages
		.advantages__wrapper
			.title Преимущества Автономной Газификации

			.advantages-item.advantages-item--magistral
				.advantages-item__title Независимость От Магизстральных Сетей
				p.advantages-item__text В регионах, лишенных развитой инженерной инфраструктуры, в т.ч. от неприятных последствий внезапного неприятных последствий внезапного падения давления магистрального газа, появление водяного конденсата в трубопроводах и “веерных” отключений.

			.advantages-item.advantages-item--cost
				.advantages-item__title Выгодная 
					br
					| Цена
				p.advantages-item__text Использование пропан-бутана экономически значительного эффективнее по сравнению с другими видами топлива. Вы можете убедиться в этом, ознакомившись со сравнительной таблицей стоимостью 1 кВт/час тепловой энергии.

			.advantages-item.advantages-item--exploitation
				.advantages-item__title Легкая Эксплуатация, Оперативность Сервиса
				p.advantages-item__text Наши системы газоснабжения требуют заправки пропан-бутан (сжиженным газом углеводородным газом) один-два раза в год, в зависимости от мощности оборудования, сезонности проживания, площади отапливаемого здания.

			.advantages-item.advantages-item--eco
				.advantages-item__title Чистота И Экологичность
				p.advantages-item__text Все системы отвечают современным мировым стандартам экологической безопасности. В продуктах сгорания пропан-бутана отсутсвуют канцерогенные вещества, которые наносят вред окружющей среде, здоровью человека и снижают срок службы системы теплоснабжения.