mixin variant()
	section.variant#variant
		.variant__wrapper
			.title Варианты Автономной Газификации

			.variant-item
				img(src="%=staticPrefix=%images/content/variant-1.png" alt="").variant-item__img
				a(href="#" title="Заказать").variant-item__btn Заказать

			.variant-item
				img(src="%=staticPrefix=%images/content/variant-2.png" alt="").variant-item__img
				a(href="#" title="Заказать").variant-item__btn Заказать


			//-.variant-item
				p.variant-item__text Оптимальное решение
				p.variant-item__text Для автономной газификации дома площадью до 
					span 100м
						sup 2 
					| на базе резервуара
				img(src="%=staticPrefix=%images/content/2700.png" alt="").variant-item__img
				a(href="#" title="Заказать").variant-item__btn Заказать

			//-.variant-item
				p.variant-item__text Оптимальное решение
				p.variant-item__text Для автономной газификации дома площадью до 
					span 250м
						sup 2 
					| на базе резервуара
				img(src="%=staticPrefix=%images/content/4800.png" alt="").variant-item__img
				a(href="#" title="Заказать").variant-item__btn Заказать