mixin top-menu()
	nav.top-menu
		.top-menu__wrapper#menu
			a(href="#top" title="Главная").top-menu__item Главная
			a(href="#advantages" title="Преимущества").top-menu__item Преимущества
			a(href="#variant" title="Автономная газификация").top-menu__item Автономная газификация
			a(href="#service" title="Клиенты").top-menu__item Клиенты
			a(href="#steps" title="Этапы работы").top-menu__item Этапы работы
			a(href="#reviews" title="Отзывы").top-menu__item Отзывы
			a(href="#map" title="Контакты").top-menu__item Контакты