mixin steps()
	section.steps
		.steps__wrapper
			.title Этапы Работы

			.steps-item.steps-item--call Вы Звоните Или Оставляете Заявку
			.steps-item.steps-item--consult Получаете Консультацию Специалиста
			.steps-item.steps-item--engineer Выезд Инженера На Ваш Участок
			.steps-item.steps-item--agreement Подписание Договора
			.steps-item.steps-item--mounting Монтаж И Подключение Газгольдера
			.steps-item.steps-item--warm-house Ура! Теперь Вы В Теплом Доме