mixin header-form()
	.header-form
		.header-form__wrapper
			form(method="" action="").form
				.form__row.form__row--shadow
					input(type="text" value="" placeholder="Ваше имя...").form__element
				.form__row.form__row--shadow
					input(type="text" value="" placeholder="Ваш телефон...").form__element
				.form__row.form__row--shadow.form__row--shadow-submit
					input(type="submit" value="Сделать заказ").form__submit