mixin footer()
	footer.footer
		.footer__wrapper
			p.footer__text ТОО «Акмолгаз» 
			p.footer__text Республика Казахстан, Акмолинская область, 
			p.footer__text Целиноградский район, аул Акмол, ул. Ю. Гагарина, дом 13
	script(src='http://yastatic.net/jquery/1.11.2/jquery.min.js')
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')