mixin service()
	section.service
		.service__wrapper
			.title Для Наших Клиентов Мы Предлагаем Последующий Сервис

			.service-item.service-item--emergency
				.service-item__title Круглосуточная Аварийная Служба

			.service-item.service-item--delivery
				.service-item__title Доставка 
					br 
					| Газа

			.service-item.service-item--warranty
				.service-item__title Гарантийное Обслуживание На Все Работы И Услуги