mixin map()
	section.map#map
		| <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ltHqGMXfInUt5NBdAkq7YRv0q14PLCRj&width=1920&height=500"></script>